body{
 background:linear-gradient(to right bottom, rgba(238,174,202,1),rgba(23, 157, 151, 0.738),rgb(16, 107, 140))
}
 .navigation{
     display: flex;
     height: 100px;
     justify-content: center;
     width:100wh;
     padding-top: 10px;
 }
 #item{
    
     gap:30px;
  
 }
.nav-heading{
 margin-left:40px;
 margin-bottom:10px;
 display: flex;
 /* border:2px solid ; */
 height:fit-content;
 margin-top:-7px;
 font-style: italic;
 padding: 10px;;
 font-size: 40px;
 font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
justify-content: center;
text-shadow: -3px 6px 3px rgba(99,85,85,0.5);
}
.container{
  
     width:100wh;
     /* border:2px solid ; */
 
 }
 .inner{
     margin-top:-40px;


 }
 .inner_side{
     font-size: 30px;
     font-style: italic;
     font-weight: 600;

 }
 .inner_side2{
     color:grey;



 }

 .card {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    transition: transform ease .5s, box-shadow ease .5s;
  }
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
  }
 a{
     text-decoration: none;
     color:black;
 }
 a:hover{
     color:red;
     transition:2s;
 }
 .card-logo{
     height:20px;;
     width:20px;
     border-radius: 50%;;
 }
 pre{
     margin-top: -20px;
     margin-left:30px;
     letter-spacing: 1px;
     word-spacing: 1px;
     font-size: 11px;
 }
 #image_control{
     flex-wrap: wrap;
     width:100wh;
     justify-content: space-evenly;
     margin-left:20px;
     margin-right: 10px;;
     cursor: pointer;
     gap:80px;
     /* border:2px solid red; */
 }
 img{
    height:202.6px;
    width:304.4px;

 }
 .color{
     background-color: rgba(239, 223, 223, 0.558);
     box-sizing:border-box;
     -webkit-box-shadow: 7px 9px 29px -3px rgba(0,0,0,0.58);
-moz-box-shadow: 7px 9px 29px -3px rgba(0,0,0,0.58);
box-shadow: 7px 9px 29px -3px rgba(0,0,0,0.58);
border-radius:20px;
 }

 /* .card:hover{
     transform: translateY(-25px);
     transition: 3s;
 } */

 @media screen and (max-width:950px)
 {
     body{
         background:linear-gradient(to right bottom, rgba(43, 135, 189, 0.525),rgba(202, 103, 171, 0.738),rgb(16, 107, 140))
 
     
     }
     .navigation{
         display: flex;
         height: 100px;
         justify-content: center;
         width:100wh;
         padding-top: 10px;
         /* flex-direction: column; */
     }
   
    #image_control{
     display: flex;
     justify-content: center;
     width:100%;
     justify-content: space-around;
     margin: 0;
     padding: 10px;
     align-items:center ;
    }
 li{
     display: none;
 }
 .nav-heading{
     margin-left:10px;
     margin-bottom:10px;
     display: flex;
     /* border:2px solid ; */
     height:fit-content;
     margin-top:-7px;
     font-style: italic;
     padding: 10px;;
     font-size: 35px;
     text-align:center;
     font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    justify-content: center;
    text-shadow: -3px 6px 3px rgba(99,85,85,0.5);
    }
    .inner_side{
 font-size: 20px;
 color:rgb(38, 70, 71);
 
    }


}